@import "../pages/Home/Home.scss";
@import "./category/category.scss";

.productContainerForSwiper {
  & .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  & .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  & .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  & .mySwiper {
    box-sizing: border-box;
    padding: 10px 0;
    max-height: 100px;
  }

  & .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  & .mySwiper .swiper-slide-thumb-active {
    box-sizing: border-box !important;
    opacity: 1;
  }

  & .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .swiper-slide-thumb-active {
    border: 2px solid var(--main-color);
  }
}
