.containerMain {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  align-self: center;

  & .leftContainer {
    margin: 15px 0;

    & .explainItemContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 96%;
      padding: 15px;
      background-color: #fbfafb;
      & p {
        font-family: var(--source-sans-pro);
        color: #545454;
        max-width: 60%;
        word-spacing: 2px;
        line-height: 21px;
      }
    }
  }

  & .rightContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    & .totalItemContainer {
      display: flex;
      justify-content: space-between;
      margin: 7px 0;

      & .totalItemTitle {
        font-size: 16px;
        font-family: var(--source-sans-pro);
        max-width: 143px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      & .totalItemPrice {
        font-size: 16px;
        font-family: var(--source-sans-pro);
        color: var(--main-color);
      }
    }

    & .totalItemBottomContainer {
      margin-top: 20px;
      & .totalPrice {
        display: flex;
        justify-content: space-between;

        & .totalPriceText {
          font-size: 20px;
          font-family: var(--source-sans-pro);
          color: var(--main-color);
        }

        & span {
          font-size: 20px;
          font-family: var(--source-sans-pro);
        }
      }
    }
  }

  & .spacer {
    width: 25px;
  }
}
