.containerBG {
  width: 100%;
  background-color: var(--main-color);
  border-top: 3px solid var(--border-gray);
  margin: 15px 0 0 0;
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0 auto;
    & .logo {
      padding: 0 0 0 25px;
    }

    & .contact {
      display: flex;
      flex-direction: row;
      padding: 0 25px 0 0;

      & .baseSocialClass {
        display: flex;
        align-items: center;
        padding: 0 8px 0 8px;

        &::after {
          content: "";
          margin-left: 16px;
          height: 30px;
          border-left: 3px solid var(--white);
        }

        & svg {
          padding: 0 5px 0 0;
          fill: var(--white);
        }

        & p {
          color: var(--white);
          font-family: var(--source-sans-pro);
        }
      }

      & .phone {
        @extend .baseSocialClass;
      }

      & .instagram a {
        @extend .baseSocialClass;
        height: 30px;

        &::after {
          content: none;
        }
      }

      & .whatsapp {
        @extend .baseSocialClass;
      }
    }
  }
}
