.container {
  & .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 90%;
      height: 170px;
      object-fit: cover;
    }

    & .productRemovedText {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 120px;
      text-align: center;
      font-size: 22px;
      border: 2px solid var(--main-color);
      border-radius: 4px;
      font-family: var(--source-sans-pro);
    }

    & .rowContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }

    & .columnContainer {
      display: flex;
      flex-direction: column;
    }

    & .itemTitle {
      font-family: var(--source-sans-pro);
      font-size: 20px;
      margin-left: 15px;
    }

    & .productCount {
      font-family: var(--source-sans-pro);
      display: inline-block;
      font-size: 14px;
      margin-left: 15px;
    }

    & .productBuyat {
      font-family: var(--source-sans-pro);
      display: inline-block;
      font-size: 14px;
      margin-left: 15px;

      font-weight: 600;
      & span {
        font-weight: 400;
      }
    }

    & .productId {
      font-family: var(--source-sans-pro);
      display: inline-block;
      font-size: 14px;
      margin-left: 15px;

      font-weight: 600;
      & span {
        font-weight: 400;
      }
    }

    & .productPrice {
      font-family: var(--source-sans-pro);
      display: inline-block;
      font-size: 14px;
      margin-left: 15px;

      font-weight: 600;
      & span {
        color: var(--main-color);
        font-weight: 600;
        font-size: 16px;
      }
    }

    & .columnContainerRight {
      display: flex;
      align-items: center;
      flex-direction: column;
      .statusBase {
        font-size: 15px;
        font-weight: 600;
        font-family: var(--source-sans-pro);
        display: inline-block;
        padding: 10px 0;
        text-align: center;
        width: 100%;
        border-radius: 4px;
      }

      & .waitingForApprove {
        @extend .statusBase;
        color: var(--status-waiting-for-approve);
        background: var(--status-waiting-for-approve-bg);
      }

      & .approved {
        @extend .statusBase;
        color: var(--status-approved);
        background: var(--status-approved-bg);
      }

      & .shipped {
        @extend .statusBase;
        color: var(--status-shipped);
        background: var(--status-shipped-bg);
      }

      & .shipDelivered {
        @extend .statusBase;
        color: var(--status-ship-delivered);
        background: var(--status-ship-delivered-bg);
      }

      & .rejected {
        @extend .statusBase;
        color: var(--status-rejected);
        background: var(--status-rejected-bg);
      }

      & .orderCanceled {
        @extend .statusBase;
        color: var(--status-order-canceled);
        background: var(--status-order-canceled-bg);
      }
    }
  }
}
