:root {
  --textInput-background: #f2f2f3;
  --border-gray: #f2f2f3;
  --main-color: #c316e6;
  --logo-color: #c316e6;
  --link-color: #000000;
  --modal-background: #ffffff;
  --modal-shadow: 0 3px 10px 0 rgb(0 0 0 / 7%);
  --swiper-array-color: #c316e6;
  --swiper-array-border-color: #000000;
  --swiper-background-color: #ffffff;

  /* Cards */
  --card-product-background: #ffffff;
  --card-shadow: 0 3px 10px 0 rgb(0 0 0 / 7%);
  --card-product-border: #f2f2f3;

  /* Buttons */
  --horizontal-middle-cart-button-hover-adding-color: #5cad00;
  --horizontal-middle-product-button-hover--color: #000000;
  --button-gray: #646464;

  /* Swiper */
  --swiper-title-bg-color: #000000;
  --swiper-title-color: #ffffff;
}
