:root {
  --textInput-background: #f2f2f3;
  --border-gray: #f2f2f3;
  --main-color: #c316e6;
  --logo-color: #c316e6;
  --link-color: #000000;
  --modal-background: #ffffff;
  --modal-shadow: 0 3px 10px 0 rgb(0 0 0 / 7%);
  --black: #000000;
  --white: #ffffff;
  --product-header-color: #333333;

  /* Texts */
  --gray-text-color: #757575;

  /* Cards */
  --card-product-background: #ffffff;
  --card-shadow: 0 3px 10px 0 rgb(0 0 0 / 7%);
  --card-product-border: #f2f2f3;

  /* Buttons */
  --horizontal-middle-cart-button-hover-adding-color: #5cad00;
  --horizontal-middle-product-button-hover--color: #000000;
  --button-white-hover-bg: #eeeeee;
  --button-gray: #646464;

  /* Swiper */
  --swiper-title-bg-color: rgba(0, 0, 0, 0.5);
  --swiper-title-color: #ffffff;
  --swiper-array-color: #c316e6;
  --swiper-array-border-color: #000000;
  --swiper-background-color: #ffffff;

  /* Input */
  --input-bg: #fafafa;
  --input-error-border-color: #db0909;
  --input-card-radio-bg: #f3f3f0;
  --input-card-radio-border: #8f8f8f;

  /* Modal */
  --modal-bg: rgba(0, 0, 0, 0.4);
  --modal-bg-in: #ffffff;
}
