.popupContainer {
  position: relative;
  z-index: var(--list-popup-zindex);

  &:hover {
    & .listPopupContainer {
      display: flex;
    }
  }

  .listPopupContainer {
    display: none;
    position: absolute;
    left: -220%;

    & .listPopup {
      padding: 7px;
      background-color: var(--modal-background);
      box-shadow: var(--modal-shadow);
      border: 1px solid var(--border-gray);
    }
  }
}
