.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-gray);
  padding: 5px 0px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--horizontal-middle-product-button-hover--color);
  }

  & svg {
    padding-right: 10px;
    fill: white;
  }

  & .addCartText {
    font-family: var(--source-sans-pro);
    font-size: 18px;
    font-weight: 600;
    color: white;
  }
}
